ACME company inc. 
Es una compañia distribuidora de autos.
Necesita un system administrativo para ingreso a la pagina de Web.

Requerimientos:

1. El usuario necesita registrase al sistema

2. El usuario necesita tener acceso a un login

3. El usuario tiene diferentes roles: Administrador; gerente; 
inventoria; vendedor y cliente.

4. Cada rol de usuario tiene acceso a diferentes paginas.

Byron:

6. Los empleados del departamento de inventario compran vehiculos y partes,
	añaden la informacion al inventario

7. Los vendedores tienen acceso a los autos en inventario y pueden realizar las transaciones 
	relacionadas con la venta de carros.

8. Cada pagina tiene acceso a listas CRUD